{% extends "base.html.j2" %}
{% block app_content %}
    <h1>{{ _('404: Page Not Found') }}</h1>
    <p>{{ _('Sorry, the page you are looking for does not exist. Please check the URL or return to the homepage.') }}</p>
    <p><a href="{{ url_for('index') }}">{{ _('Return to Home') }}</a></p>
{% endblock %}