<!-- Partial: footer -->
<div class="footer-wrapper">
    <a href="{{ url_for('index') }}"><img src="https://www.pngall.com/wp-content/uploads/15/BBC-Logo-PNG-Image.png" alt="BBC Logo" class="footer-logo" width="200" height="120"></a>
    <div class="footer-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('Article') }}">Article</a>
        <a href="{{ url_for('weather') }}">Weather</a>
        <a href="{{ url_for('comment') }}">Comment</a>
    </div>
</div>
