<!-- Partial: news card -->
<div class="news-card">
    <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/sample.jpg" alt="Sample news image" width="800" height="450">
    <h3><a href="#">Sample headline</a></h3>
    <p class="metadata">Now | Sample</p>
</div>
